.container {
  padding: 3rem;
}

.box {
  height: 10px;
  display: block;
  background-color: aqua;
}

.message-error {
  background-color: red;
  color: aliceblue;
  opacity: 0;
  transition: all linear 0.5s;
}

.message-error.active {
  opacity: 1;
}
