<div class="container">
  <h1>Hello Wendy, here we go!</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
      <li>{{ i }} {{ task }}</li>
    }
  </ul>

  <hr />

  <h2>{{ " * _ * ".repeat(4) }}</h2>
  <p>I'm {{ name() }} and I'm {{ age }}</p>

  <hr />

  <input type="text" [value]="name()" />

  <button (dblclick)="changeElement(1)">Click Double</button>
  <p>change</p>
  <input type="number" [value]="age" (change)="changeHandler($event)" />

  <p>keydown</p>
  <input type="text" [value]="name()" (keydown)="keydownHandler($event)" />

  <p>keydown shift + t</p>
  <input type="text" [value]="name()" (keydown.shift.t)="clickHandler()" />

  <p>Signal</p>
  <input type="text" [value]="name()" (keydown)="changeHandler($event)" />

  <hr />

  @if (name() === 'Wen') {
    <div>Soy Wen</div>
  }

  <hr />
  <div></div>
  <input type="color" [formControl]="colorCtrl" />
  <p>COLOR : {{ colorCtrl.value }}</p>
  <hr />
  <svg>
    <g>
      <rect
        x="0"
        y="0"
        height="100"
        width="100"
        [attr.fill]="colorCtrl.value"
        />
    </g>
  </svg>

  <hr />
  <input type="number" [formControl]="widthCtrl" />
  <span class="box" [style.width.px]="widthCtrl.value"></span>

  <hr />
  <input type="text" [formControl]="nameCtrl" /> <br />
  <span
    class="message-error"
    [class.active]="nameCtrl.invalid && nameCtrl.touched"
    >No valid name
  </span>
</div>
